.imam.des,
.imam-info,
.imam-name {
  margin: 0;
  padding: 0;
}

.imam-data-c {
  margin-left: 1rem;
  margin-right: 1rem;
  /* margin-bottom: 4.5rem; */
  margin-bottom: 2rem;
}

.imam-info {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.imam-name {
  text-align: center;
  height: 1.8rem;
  font-size: 1.3rem;
  background-color: var(--bg-color-yellow);
}
.imam-des {
  font-size: 0.9rem;
}

.imam-main-heading {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: var(--yellow-text);
}
