.main-logo-container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  gap: 0.4rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 4rem;
  background-color: var(--white-black);
  border-radius: 2rem;
  border: var(--quran-nav-border);
}
.logo-title-text {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-black-white);
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-left: 0.5rem;
}
.main-logo-app,
.main-logo-sidebar,
.main-logo-sidebar-dark {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}
.main-logo-app {
  margin-left: 0.5rem;
}
.main-logo-sidebar {
  margin-right: 0.5rem;
}
.main-logo-sidebar-dark {
  margin-right: 0.5rem;
  filter: invert(1);
}
.theme-icon {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
}
.theme-icon-dark {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
  filter: invert(1);
}
