.about-title-main,
.about-text {
  padding: 0;
  margin: 0;
}
.about-sec-cont {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-block {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: var(--ai-msg-inputbar);
  border: var(--worship-card-border);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
}
.about-title-main {
  font-size: 1.4rem;
  color: var(--yellow-text);
}
.about-text {
  color: var(--text-black-white);
  font-size: 0.9rem;
  word-spacing: 1px;
  line-height: 1.4;
}
