.sidebar-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.sidebar-container {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1001;
  background-color: rgba(255, 250, 245, 255);
  overflow-y: scroll;
}
.sidebar-banner-img-container {
  width: 100%;
  height: 9rem;
}
.sidebar-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.column-contents {
  padding: 0;
  margin: 0;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  border-bottom: 0.5px solid gray;

  gap: 1rem;
}
.column-contents {
  font-size: 0.9rem;
  color: black;
}

.share-side-c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
.share-side-a {
  text-decoration: none;
  font-size: 0.9rem;
  color: rgb(191, 163, 20);
}
