.randomhadith-english,
.randomhadith-humber,
.randomhadith-narr,
.random-num {
  padding: 0;
  margin: 0;
}

.randomhadith-main-cont {
  background-color: rgb(0, 0, 0);
  border: 0.5px solid silver;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}
.randomhadith-cont {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.random-number-cont {
  text-align: center;
}
.randomhadith-humber {
  font-size: 0.8rem;
  color: white;
}
.random-num {
  color: var(--yellow-text);
}
.randomhadith-narr {
  font-size: 1rem;
  color: var(--bg-color-yellow);
  font-weight: bold;
  text-align: center;
}
.randomhadith-english {
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--yellow-text);
}
.readmore {
  color: white;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.share-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp-share-btn {
  text-decoration: none;
  background-color: var(--yellow-text);
  color: white;
  width: 3.5rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
