.hadith-chapterName,
.hadith-total-hadiths,
.hadith-english-heading,
.hadith-bookname,
.hadith-status,
.hadith-narrator,
.hadith-arabic,
.hadith-english,
.chap-name-title,
.hadith-main-heading {
  padding: 0;
  margin: 0;
}
.hadith-main-heading {
  margin: 1rem;
  font-size: 1.1rem;
  text-align: center;
}
.hadith-animation-banner {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-yellow);
}
.load-animation {
  width: 100%;
  height: 100%;
}
.hadith-books-container {
  margin-left: 1rem;
  margin-right: 1rem;
  /* margin-top: 3rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.hadith-book {
  width: 48%;
  margin-bottom: 1rem;
  height: 4rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-yellow);
}
.hadith-name {
  text-align: center;
  font-weight: bold;
}
.hadiths-specific-chap-cont {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 10rem;
}
.hadith-details-cont {
  margin-top: 1rem;
  background-color: rgba(120, 85, 70, 255);
  color: white;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
}
.hadith-chapterName {
  font-size: 1.6rem;
}
.hadith-total-hadiths {
  margin-top: 0.2rem;
  color: rgb(224, 224, 224);
}
.hadith-details-ref-cont {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-yellow);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.hadith-ref {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 0.1rem;
  margin-left: 0.5rem;
}
.hadith-ref-img-cont {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
}
.ref-icon {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
}
.hadith-bookname {
  color: black;
}
.hadith-narrator {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.hadith-arabic {
  font-family: "Amiri Quran";
  text-align: right;
  font-size: 1.5rem;
  line-height: 2.3;
  margin-bottom: 1.2rem;
}
.hadith-english {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.pagination-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.paginate-button {
  background-color: transparent;
  border: 0.7px solid black;
  border-radius: 0.3rem;
  height: 2.5rem;
  width: 4rem;
  font-size: 1rem;
}
.current-page-label {
  font-size: 1.1rem;
}
.hadith-search-cont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  border: 1px solid black;
  width: 80%;
}
.single-searched-hadith {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4.5rem;
}
.all-chap-cont {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4.5rem;
}
.chap-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.single-chap-cont {
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: var(--bg-color-yellow);
  border-radius: 0.4rem;
}
