:root {
  --bg-color: rgba(255, 250, 245, 255);
  --bg-color-yellow: rgba(253, 243, 232, 255);
  --yellow-text: rgb(191, 163, 20);
  --time-yellow-text: rgb(243, 199, 2);
  --piller-banner-bg: black;
  --text-big-head-white: gray;
  --text-big-mainhead: black;
  --text-black-white: black;
  --black-silver: rgb(0, 0, 0);
  --quran-nav: rgba(120, 85, 70, 255);
  --quran-nav-border: none;
  --quran-srch-input: 1px solid black;
  --text-brown-white: rgba(120, 85, 70, 255);
  --gray-darkwhite: rgba(0, 0, 0, 0.5);
  --white-yellow: white;
  --white-dark: white;
  --banner-border: none;
  --worship-card-border: none;
  --worship-card-bg: rgba(253, 243, 232, 255);
  --card-bg-skintowhite: rgba(253, 243, 232, 255);
  --mecca-info-bg: rgba(253, 237, 220, 255);
  --translit-bg: rgba(120, 85, 70, 255);
}
body.dark-mode {
  --bg-color: black;
  --bg-color-yellow: #50554c;
  --yellow-text: #ffdf5d;
  --time-yellow-text: #eacb3f;
  --piller-banner-bg: black;
  --text-big-head-white: white;
  --text-big-mainhead: #ffdf5d;
  --text-black-white: white;
  --black-silver: rgb(213, 213, 213);
  --quran-nav: black;
  --quran-nav-border: 1px solid white;
  --quran-srch-input: 1px solid white;
  --text-brown-white: white;
  --gray-darkwhite: rgba(235, 224, 224, 0.671);
  --white-yellow: rgb(191, 163, 20);
  --white-dark: #2a2b29;
  --banner-border: 0.8px dashed rgb(243, 199, 2);
  --worship-card-border: 0.8px dashed white;
  --worship-card-bg: black;
  --card-bg-skintowhite: rgba(62, 61, 61, 0.584);
  --mecca-info-bg: black;
  --translit-bg: rgba(62, 61, 61, 0.584);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Regular";
  background-color: var(--bg-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@font-face {
  font-family: "Amiri Quran";
  src: url("./assets/Fonts/AmiriQuran-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito BlackItalic";
  src: url("./assets/Fonts/Nunito-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Bold";
  src: url("./assets/Fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito ExtraBoldItalic";
  src: url("./assets/Fonts/Nunito-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito ExtraLight";
  src: url("./assets/Fonts/Nunito-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito ExtraLightItalic";
  src: url("./assets/Fonts/Nunito-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito ExtraBold";
  src: url("./assets/Fonts/Nunito-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito NormalItalic";
  src: url("./assets/Fonts/Nunito-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito BoldItalic";
  src: url("./assets/Fonts/Nunito-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito LightItalic";
  src: url("./assets/Fonts/Nunito-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito MediumItalic";
  src: url("./assets/Fonts/Nunito-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Semibold";
  src: url("./assets/Fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Regular";
  src: url("./assets/Fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Italic";
  src: url("./assets/Fonts/Nunito-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Light";
  src: url("./assets/Fonts/Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Medium";
  src: url("./assets/Fonts/Nunito-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
