/* .banner-slider-container {
  display: flex;
  border: 1px solid red;
  overflow-x: scroll;
  width: 100%;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  border-radius: 8px;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 5rem;
  width: 100%;
} */

.banner-slider-container {
  display: flex;
  /* border: 1px solid red; */
  overflow: hidden;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  scroll-snap-type: x mandatory; /* Optional: Smooth snapping effect */
}

.carousel {
  flex: 0 0 90%; /* Ensures the carousel takes full width */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  border-radius: 8px;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 5rem;
  width: 90%; /* Ensures it remains full width */
  scroll-snap-align: start; /* Optional: Helps with snapping */
}
.zakat-carousel {
  flex: 0 0 90%; /* Ensures the carousel takes full width */
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  border-radius: 8px;
  height: 5rem;
  width: 100%; /* Ensures it remains full width */
  scroll-snap-align: start; /* Optional: Helps with snapping */
}

.banner-events-text {
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.carousel-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}
.banner-heading {
  padding: 0;
  margin: 0;
  color: rgb(191, 163, 20);
}
.banner-subheading {
  padding: 0;
  margin: 0;
  color: white;
}
.banner-heading {
  font-size: 1.1rem;
}
.banner-subheading {
  font-size: 0.9rem;
}
.banner-img {
  height: 6rem;
  width: 6rem;
  object-fit: contain;
}
.carousel-right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
